
# Config. Del Server

PORT=3000
NODE_ENV=development

# Config. De la DB (SQL Server)

DB_SERVER=localhost
DB_DATABASE=HabitTrackerDB
DB_USER=tu_database_user
DB_PASSWORD=tu_database_password
DB_PORT=1433

# Config. JWT

JWT_SECRET=your_super_secret_key_here
JWT_EXPIRE=24h

#Seguridad

BCRYPT_ROUNDS=10

# Config. Email

EMAIL_USER=tu_email@gmail.com
EMAIL_PASSWORD=tu_email_app_password
FRONTEND_URL=http://localhost:3000